body {
    background: wheat;
}

/* NAVBAR */ 

.navbar-transparente {
    background: black;
}

/* ----- */ 

/* a */ 
.imagem_logo {
    height: 500px;
    background-image: url(https://media.gazetadopovo.com.br/2020/08/21144445/ciclo-entregadores_2-960x540.jpg);

    border-radius: 25px;
}