/* Drink */
.drink .container {
    background: url(imagens/wpp2.jfif);
    background-size: 200px;
    background-position: center;
}

.drink .coqueteis {
   width: 550px;
}

.drink .coqueteis h2 {
    margin: 0;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 20px;
    color: white;
}

.drink .coqueteis h1 {
    margin: 0;
    font-size: 100px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    color: transparent;
    color: white;
}

.drink .coqueteis p {
    margin: 0;
    font-size: 20px;
    color: white;
    line-height: 30px;
}

.drink .coqueteis a {
    font-size: 25px;
    font-weight: bolder;
    color: white;
    text-decoration: none;
    bottom: 0;
    margin-top: 150px;
}

.drink .drinks .bloco {
    border: none;
    overflow: hidden;
    margin-right: 14px;
    width: 240px;
    height: 400px;
    background: cadetblue;
}

.drink .drinks .bloco h1 {
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.drink .drinks .bloco img {
    margin-top: 62px;
    width: 228px;
    height: 285px;
    transition: 0.5s;
}

.drink .drinks .bloco:hover img {
    transform: scale(1.1);
}

.drink .swiper4 {
    display: none;
    width: 480px;
    height: 400px;
    right: 0;
}

.drink .swiper5 {
    display: none;
    width: 240px;
    height: 400px;
    right: 0;
}

.drink .swiper-slide {
    overflow: hidden;
    background: cadetblue;
    text-decoration: none;
    width: 240px;
    height: 400px;
}

.drink .swiper-slide h1 {
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    text-align: center;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.drink .swiper-slide img {
    margin-top: 62px;
    width: 228px;
    height: 285px;
    transition: 0.5s;
}

.drink .swiper-slide:hover img {
    transform: scale(1.1);
}

.drink .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    text-align: center;
    opacity: 1;
    background: white;
}

.drink .swiper-pagination-bullet-active {
    width: 30px;
    height: 5px;
    border-radius: 10px;
}

.drink .cool-link {
    display: inline-block;
    color: white;
    text-decoration: none;
}

.drink .cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width .3s;
}

.drink .cool-link:hover::after {
    width: 100%;
    transition: .3s;
}

.drink .coqueteis-sm {
    display: none;
    margin: 50px 0px;
    text-align: center;
    width: 756px;
}

.drink .coqueteis-sm a {
    font-size: 30px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1600px) {
    .drink .drinks .bloco {
        display: none;
    }

    .drink .swiper4 {
        display: block;
    }
}

@media only screen and (max-width: 1400px) {
    .drink .coqueteis h1 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 1199px) {
    .drink .drinks .bloco {
        display: inline-block;
    }

    .drink .swiper4 {
        display: none;
    }

    .drink .coqueteis {
        margin-bottom: 50px;
    }

    .drink .coqueteis a {
        display: none;
    }

    .drink .coqueteis-sm {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .drink .coqueteis {
        width: 500px;
     }

    .drink .drinks .bloco {
        display: none;
    }

    .drink .swiper4 {
        display: block;
    }

    .drink .col-lg-6 {
        padding: 0;
    }

    .drink .coqueteis-sm {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .drink .swiper4 {
        display: none;
    }

    .drink .swiper5 {
        display: block;
    }

    .drink .coqueteis {
        width: 100%;
     }

     .drink .coqueteis h1 {
        font-size: 55px;
        margin: 10px 0;
     }
}