/* BODY */
body {
    background-image: url(imagens/wpp.jpg);
    background-attachment: fixed;
    background-size: 2000px;
    overflow-y: overlay;
    overflow-x: hidden;
}

body .container {
    width: 100%;
}
/* ----- */

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}
   
::-webkit-scrollbar-thumb {
    background: rgb(255, 115, 0);
    border-radius: 5px;
}

/* CONTEUDO */
.conteudo {
    margin-top: 70px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* ----- */